<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">蛋糕店后台</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="/admin/order_list?orderStatus=0">订单管理</a></li>
                <li ><a href="/admin/user_list?pageNo=1">客户管理</a></li>
                <li ><a href="/admin/goods_list?typeId=0&pageNo=1">商品管理</a></li>
                <li ><a href="/admin/type_list">类目管理</a></li>
                <li><a href="/admin/logout">退出</a></li>
            </ul>
        </div>
    </div>
</nav>